<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\enterNewPassword.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="formDiv" onsubmit="handleSubmitEvent(event)">
        <form id="passwordForm">
            <label for="password1">New Password</label>
            <input id="password1" name="password1" type="password" required>
            <br>

            <label for="password2">Re-enter Password</label>
            <input id="password2" name="password2" type="password" required>
            <br>

            <button id="submitBtn" type="submit">Submit</button>

        </form>
    </div>
    <script src="\enterNewPassword.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>