<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\forgotPassword.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="formDiv" onsubmit="handleSubmitEvent(event)">
        <form id="emailForm">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" required>
            <br>
            <button id="submitBtn" type="submit">Submit</button>

        </form>
    </div>
    <script src="\forgotPassword.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>